DISCORD_TOKEN="" # your token from the Discord Developer Portal
DATABASE_URL="" # example: postgres://[username]:[password]@[server]:[port]/[db name]?schema=public
MEDIA_PATH="" # path to where you plan to store file-based media

DEVELOPER_GUILD_ID="" # Discord Guild ID for startup logs and report logs
DEVELOPER_ROLE_ID="" # Discord Role ID for `/dev` group commands
DEVELOPER_LOG_CHANNEL="" # Discord Channel ID for startup logs

MOD_ROLE_ID="" # Discord Role ID for Global Egg Moderators
REPORT_CHANNEL="" # Discord Channel ID for report logs

# Arachnid Shield API credentials (optional, but if not specified, the CSAM scans will be skipped)
ARACHNID_USER=""
ARACHNID_PASSWORD=""